extends layout

block pageTitle
    .container
        .page-header
            h1= title

block pageContent

    #wrapper.row
        .col-md-8.col-sm-8.col-xs-12
            .panel.panel-default
                .panel-body
                    p
                        span.glyphicon.glyphicon-hand-right
                        span.sr-only Hinweis:
                        | from twitchstats.io

        .clearfix.visible-lg-block.visible-md-block.visible-sm-block

        .col-md-6.col-sm-6.col-xs-12
            .panel.panel-default
                .panel-heading
                    h3 Top Chatters
                #chatList.panel-body
                   table.table.table-striped
                       thead
                           th
                           th Chatter
                           th Lines
                       tbody
                       !{chatterList}

        .col-md-6.col-sm-6.col-xs-12
            .panel.panel-default
                .panel-heading
                    h3 Top Emotes
               #emoteList.panel-body
                   table.table.table-striped
                       thead
                            th
                            th Emote
                            th Anzahl
                       tbody
                       !{emoteList}