extends layout

block pageTitle 
    .container
        .page-header
            h1= title

block pageContent

    #wrapper.row
        .col-md-6.col-sm-8.col-xs-12
            .panel.panel-default
                .panel-body
                    p
                        span.glyphicon.glyphicon-hand-right
                        span.sr-only Hinweis:
                        | Hier #[strong Hinweis] einfügen.

        .clearfix.visible-lg-block.visible-md-block.visible-sm-block

        .col-md-6.col-sm-8.col-xs-12
            .panel.panel-default
               #commandList.panel-body
                   table.table.table-striped
                       thead
                           th Befehl
                           th Rechte
                           th Cooldownzeit
                           th Preis
                       tbody

    script(src='/javascripts/commands.js')