extends bootstrap

append styles
    // Custom styles
    link(href='/stylesheets/sticky-footer-navbar.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')

block body    
    +navbar-fixed("Minebot","navbar")
        ul.nav.navbar-nav
            block navbar

block footer
    footer.footer
        .container
            p.text-muted Footer content here.
