.mb-footer 
  padding-top 50px
  padding-bottom 50px
  margin-top 100px
  color #99979c
  text-align center
  background-color #2a2730

.mb-footer a 
  color #fff

.mb-footer-links 
  padding-left 0
  margin-bottom 20px

.mb-footer-links li 
  display inline-block

.mb-footer-links li + li 
  margin-left 15px

.ico
  position relative
  display inline-block
  vertical-align bottom
  padding-right 5px  

.mod
  content url(../images/moderator.png)

.sub
  content url(../images/subscriber.png)

.bot
  content url(../images/bot.png)

.staff
  content url(../images/staff.png)

.broad
  content url(../images/broadcaster.png)

.brand
  content url(../images/brand_28px.png)